
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f5f5;
}
  
  a {
    color: #149ddd;
    text-decoration: none;
  }
  
  a:hover {
    color: #37b3ed;
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Raleway", sans-serif;
  }
  
  /*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
  .back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #149ddd;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
  }
  
  .back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
  }
  
  .back-to-top:hover {
    background: #2eafec;
    color: #fff;
  }
  
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }
  
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    transition: all ease-in-out 0.5s;
    z-index: 9997;
    transition: all 0.5s;
    padding: 0 15px;
    background: #040b14;
    overflow-y: auto;
  }
  
  #header .profile img {
    margin: 15px auto;
    display: block;
    width: 120px;
    border: 8px solid #2c2f3f;
  }
  
  #header .profile h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    -moz-text-align-last: center;
    text-align-last: center;
    font-family: "Poppins", sans-serif;
  }
  
  #header .profile h1 a,
  #header .profile h1 a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  #header .profile .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #212431;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #header .profile .social-links a:hover {
    background: #149ddd;
    color: #fff;
    text-decoration: none;
  }
  
  #main {
    margin-left: 300px;
  }
  
  .container,
  .container-fluid {
    padding-left: 30px;
    padding-right: 30px;
  }
  
  @media (max-width: 1199px) {
    #header {
      left: -300px;
    }
  
    #main {
      margin-left: 0;
    }
  
    .container,
    .container-fluid {
      padding-left: 12px;
      padding-right: 12px;
    }
  }
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /* Desktop Navigation */
  .nav-menu {
    padding: 30px 0 0 0;
  }
  
  .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
  }
  
  .nav-menu a,
  .nav-menu a:focus {
    display: flex;
    align-items: center;
    color: #a8a9b4;
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
  }
  
  .nav-menu a i,
  .nav-menu a:focus i {
    font-size: 24px;
    padding-right: 8px;
    color: #6f7180;
  }
  
  .nav-menu a:hover,
  .nav-menu .active,
  .nav-menu .active:focus,
  .nav-menu li:hover>a {
    text-decoration: none;
    color: #fff;
  }
  
  .nav-menu a:hover i,
  .nav-menu .active i,
  .nav-menu .active:focus i,
  .nav-menu li:hover>a i {
    color: #149ddd;
  }
  
  /* Mobile Navigation */
  .mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    background-color: #149ddd;
    color: #fff;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    border-radius: 50px;
    cursor: pointer;
  }
  
  .mobile-nav-active {
    overflow: hidden;
  }
  
  .mobile-nav-active #header {
    left: 0;
  }
  
  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  #hero {
    width: 100%;
    height: 100vh;
    background: url("./assets/img/hero-bg.jpg") top center;
    background-size: cover;
    
  }
  
  #hero:before {
    content: "";
    background: rgba(5, 13, 24, 0.3);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    
  }
  
  
  #hero .hero-container {
    
    position: relative;
    z-index: 2;
    min-width: 300px;
   
  }
  
  #hero h1 {
    margin: 0 0 10px 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
  }
  
  #hero p {
    color: #fff;
    margin-bottom: 50px;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
  }
  
  #hero p span {
    color: #fff;
    padding-bottom: 4px;
    letter-spacing: 1px;
    border-bottom: 3px solid #149ddd;
  }
  .typed {
    position: relative; /* Ensure relative positioning for absolute positioning of the caret */
    overflow: hidden;
    white-space: nowrap;
}

.typed::after {
    content: ''; /* Create the blinking caret */
    position: absolute;
    top: 0;
    right: 0;
    width: 0.15em; /* Adjust width as needed */
    height: 1em; /* Adjust height as needed */
    background-color: rgb(23, 145, 246); /* Adjust color as needed */
    animation: blink-caret 0.75s infinite;
}

@keyframes blink-caret {
    50% {
        opacity: 0; /* Blink the caret by changing opacity */
    }
}

.typed::before {
    content: ''; /* Create the underline */
    position: absolute;
    bottom: -0.05em; /* Adjust position as needed */
    left: 0;
    width: 100%;
    height: 0.05em; /* Adjust thickness as needed */
    background-color: rgb(23, 145, 246); /* Adjust color as needed */
}

  
  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 768px) {
    #hero h1 {
      font-size: 40px;
      line-height: 36px;
    }
    #hero {
      background-position: calc(100% - 20%) top;
  }
    #hero .hero-container {
      
      position: absolute;
      top: 145px;
      z-index: 2;
      min-width: 300px;
      
    }
  
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }
  
  /*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
  section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-bg {
    background: #f5f8fd;
  }
  
  .section-title {
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #173b6c;
  }
  
  .section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    bottom: 0;
    left: 0;
  }
  
  .section-title p {
    margin-bottom: 0;
  }
  
  /*--------------------------------------------------------------
  # About
  --------------------------------------------------------------*/
  .about .content h3 {
    font-weight: 700;
    font-size: 26px;
    color: #173b6c;
  }
  
  .about .content ul {
    list-style: none;
    padding: 0;
  }
  
  .about .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .about .content ul strong {
    margin-right: 10px;
  }
  
  .about .content ul i {
    font-size: 16px;
    margin-right: 5px;
    color: #149ddd;
    line-height: 0;
  }
  
  .about .content p:last-child {
    margin-bottom: 0;
  }
  
  @media (max-width: 768px) {
    .about-img {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.945);
      border-radius: 100%;
      width: 50%;
      display: block; /* Ensures it behaves as a block element */
      margin: auto; /* Centers horizontally */
      margin-top: 20px; /* Adjust as needed for vertical alignment */
    }
  }
  

.about-img,
.content {
  opacity: 0;
  transition: opacity 1s ease-out; /* Add smooth transition for opacity */
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-profile {
  animation: slideInFromLeft 1.5s ease-out forwards;
}

.animate-content {
  animation: slideInFromRight 1.5s ease-out forwards;
}

  
 
  /*--------------------------------------------------------------
  # Skills
  --------------------------------------------------------------*/
  .skills {
    padding: 60px 0;
  }

  .skills-table {
    display: table;
    width: 100%;
    border-spacing: 20px 10px; /* Space between rows and columns */
  }
  
  .skill-category {
    display: table-row;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }
  
  .skill-category-name {
    display: table-cell;
    width: 30%;
    font-size: 20px;
    font-weight: 600;
    color: #2c3e50;
    
  }
  
  .skill-items {
    display: table-cell;
    width: 70%;
    font-size: 16px;
    color: #2c3e50;
  }
  
  .animate-skills {
    opacity: 1;
    transform: translateY(0);
  }
  
  /*--------------------------------------------------------------
  # Resume
  --------------------------------------------------------------*/
  .resume {
  
    padding: 60px 0;
    font-family: Arial, sans-serif;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  .resume-animate {
    opacity: 1;
    transform: translateY(0);
  }
  
  .resume-header p {
    font-size: 16px;
  }
  
  .resume-header a {
    color: #37517e;
    text-decoration: none;
    margin: 0 5px;
  }
  
  .resume-header a:hover {
    text-decoration: underline;
  }
  .resume-header h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #37517e;
  }
  
  .resume-section {
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
.resume-section.show {
  opacity: 1;
  transform: translateY(0);
} 
  .resume-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #37517e;
  }
  .resume-section-inner h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #37517e;
  }
  
  .resume-section h3 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .resume-section p, .resume-section ul {
    margin: 0 0 10px 0;
  }
  
  .resume-section ul {
    padding-left: 20px;
  }
  
  .resume-section ul li {
    list-style: disc;
  }
  
  .see-more-button {
    background: none;
    border: none;
    color: #37517e;
    font-size: 16px;
    cursor: pointer;
    text-decoration: underline;
    padding: 0;
    margin: 20px auto;
    display: block;
    transition: transform 0.2s ease;
  }
  
  .see-more-button:hover {
    color: #1f3b61;
  }
  
  .download-button {
    background-color: #37517e; /* Background color of the button */
    color: #fff; /* Text color */
    border: none; /* No border */
    text-decoration: none;
    padding: 10px 20px; /* Padding for size */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Cursor changes to pointer on hover */
    border-radius: 5px; /* Rounded corners */
    display: block; /* Block display for centering */
    margin: 20px auto; /* Center the button horizontally and space it vertically */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transition for hover effects */
  }
  .download-button a{
    color: #fff;
    text-decoration: none;
  }
  
  .download-button:hover {
    background-color: #1f3b61; /* Darker background on hover */
  }
  
  .download-button:active {
    transform: translateY(3px); /* Slightly move the button down on click */
  }
  
  /*--------------------------------------------------------------
  # Portfolio
  --------------------------------------------------------------*/
  .portfolio .portfolio-item {
    margin-bottom: 30px;
}

.portfolio #portfolio-flters {
    padding: 0;
    margin: 0 auto 35px auto;
    list-style: none;
    text-align: center;
    background: #fff;
    border-radius: 50px;
    padding: 2px 15px;
}

.portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px 8px 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #272829;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
    color: #149ddd;
}

.portfolio #portfolio-flters li:last-child {
    margin-right: 0;
}

.portfolio .portfolio-wrap {
   
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}
.portfolio-links {
  margin-top: 10px;
  display: flex;
  justify-content: space-around; /* Distribute items evenly along the main axis */
}

.portfolio-links a {
  cursor: pointer;
  display: inline;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #272829;
  margin-bottom: 5px;
}
.portfolio-item.hide {
  display: none;
}

.portfolio-info {
    position: absolute;
    bottom: 11%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 15px;
    color: #fff;
    transition: opacity 0.2s ease-in-out;
}

.portfolio-info h4 {
    margin: 0;
    font-size: 18px;
}
.portfolio-item {
  opacity: 0; /* Initially hide the portfolio items */
}

.animate {
  animation: fadeIn 1s ease-in-out forwards; /* Apply fade-in animation when the element becomes visible */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.portfolio-wrap:hover {
  transform: scale(1.05); /* Adjust the scale factor as needed */
}



  
  /*--------------------------------------------------------------
  # Blogs
  --------------------------------------------------------------*/
  .blogs {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
  }
  
  .blogs .blog-item {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 3px;
    transition: all 0.3s ease-in-out;
    flex: 1 1 calc(33.333% - 40px); /* 3 columns with 20px gap */
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .read-more {
    text-decoration: none;
    color: black;
  }
  
  .blogs .blog-item:hover {
    transform: scale(1.01); /* Adjust the scale factor as needed */
  }
  .row>* {
    margin-bottom: 20px;
  }
  .blogs .blog-item img {
    width: 100%;
    height: 20vh;
    border-radius: 10px;
    margin-bottom: 15px;
    /* Ensure images cover the space without distortion */
  }
  
  .blogs .blog-item .blog-info {
    flex-grow: 1; /* Ensure blog info takes up available space */
  }
  
  .blogs .blog-item .blog-info h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 1px;
    text-decoration: none;
  }
  
  .blogs .blog-item .blog-info p {
    font-size: 14px;
    margin-bottom: 15px;
  }
  
  .blog-item {
    opacity: 0; /* Initially hide the blog items */
  }
  
  .animate {
    animation: fadeIn 1s ease-in-out forwards; /* Apply fade-in animation when the element becomes visible */
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .post-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  .post-details > div {
    margin: 0 10px;
  }
  
  .read-time, .reaction-count, .published-at {
    font-size: 14px;
  }
  
  .reaction-count i {
    margin-right: 5px;
    color: #e74c3c; /* Heart icon color */
  }
  
  .read-time {
    color: #3498db;
  }
  
  .published-at {
    color: #2ecc71;
  }
  
  @media (max-width: 600px) {
    .blogs .blog-item {
      flex: 1 1 calc(100% - 40px); /* Full width for smaller screens */
    }
  
    .post-details > div {
      margin: 5px 0;
    }
  }
  
  
 
  /*--------------------------------------------------------------
  # Contact
  --------------------------------------------------------------*/
  .contact {
    padding-bottom: 130px;
  }
  
  .contact .info {
    padding: 30px;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  }
  
  .contact .info i {
    font-size: 20px;
    color: #149ddd;
    float: left;
    width: 44px;
    height: 44px;
    background: #dff3fc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }
  
  .contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #050d18;
  }
  
  .contact .info p {
    padding: 0 0 10px 60px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #173b6c;
  }
  
  .contact .info .email p {
    padding-top: 5px;
  }
  
  .contact .info .social-links {
    padding-left: 60px;
  }
  
  .contact .info .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #333;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    margin-right: 10px;
  }
  
  .contact .info .social-links a:hover {
    background: #149ddd;
    color: #fff;
  }
  
  .contact .info .email:hover i,
  .contact .info .address:hover i,
  .contact .info .phone:hover i {
    background: #149ddd;
    color: #fff;
  }
  
  .contact .php-email-form {
    width: 100%;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  }
  
  .contact .php-email-form .form-group {
    padding-bottom: 8px;
  }
  
  .contact .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
  }
  
  .contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .error-message br+br {
    margin-top: 25px;
  }
  
  .contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    animation: animate-loading 1s linear infinite;
  }
  
  .contact .php-email-form .form-group {
    margin-bottom: 15px;
  }
  
  .contact .php-email-form label {
    padding-bottom: 8px;
  }
  
  .contact .php-email-form input,
  .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  
  .contact .php-email-form input {
    height: 44px;
  }
  
  .contact .php-email-form textarea {
    padding: 10px 15px;
  }
  
  .contact .php-email-form button[type=submit] {
    background: #149ddd;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
  }
  
  .contact .php-email-form button[type=submit]:hover {
    background: #37b3ed;
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  

  .loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #4caf50;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin: auto;
  }
  
  @keyframes spin {
    to { transform: rotate(360deg); }
  }
  
  
  /*--------------------------------------------------------------
  # Breadcrumbs
  --------------------------------------------------------------*/
  .breadcrumbs {
    padding: 20px 0;
    background: #f9f9f9;
  }
  
  .breadcrumbs h2 {
    font-size: 26px;
    font-weight: 300;
  }
  
  .breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 15px;
  }
  
  .breadcrumbs ol li+li {
    padding-left: 10px;
  }
  
  .breadcrumbs ol li+li::before {
    display: inline-block;
    padding-right: 10px;
    color: #0e2442;
    content: "/";
  }
  
  @media (max-width: 768px) {
    .breadcrumbs .d-flex {
      display: block !important;
    }
  
    .breadcrumbs ol {
      display: block;
    }
  
    .breadcrumbs ol li {
      display: inline-block;
    }
  }
  
  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  .footer {
    background-color: #040b14;
    padding: 20px 0;
    margin-top: 20px;
   
    bottom: 0;
   
    text-align: center;
    font-size: 14px;
    color: #6c757d;
  }
  
  .footer p {
    margin-bottom: 0;
  }
  


  /* ErrorBoundary CSS */
.error-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 8px;
}

.error-container h2 {
  margin-top: 0;
}

/* NotFound CSS */
.not-found-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f8f9fa;
  color: #343a40;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  text-align: center;
}

.not-found-container h2 {
  margin-top: 0;
}
